<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <title>Hello World</title>
</head>
<body>
    {{>navbar}}
    <section id="client-section">
        <h1 class="primary center">Our clients</h1>
        <div id="clients">
            <div class="client-item">
                <img src="images/apple logo.png" alt="Our client">
            </div>
            <div class="client-item">
                <img src="images/skype logo.png" alt="Our client">
            </div>
            <div class="client-item">
                <img src="images/hp logo.png" alt="Our client">
            </div>
        </div>
    </section>
    {{>footer}}
</body>
</html>