<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <title>Hello World</title>
</head>
<body>
    {{>navbar}}
    <section id="home">
        <h1 class="primary center">Welcome to myonline meal</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime nesciunt fuga repellendus in saepe quos qui
            expedita voluptatem unde distinctio.</p>
        <p>Lorem ipsum dolor sit amet!</p>
        <button class="btn">Order Now</button>
    </section>
    {{>footer}}
</body>
</html>