<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    {{>navbar}}
    <section id="home">
        <h1 class="primary center">Welcome to myonline meal</h1>
        <p>This is a website where you can order your food, register as chef, register as user </p>
        <p>Hurry Up!Register and login to access all the contents</p>
        <button class="btn">Order Now</button>
    </section>
    {{>footer}}
</body>
</html>