<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <title>Hello World</title>
</head>
<body>
    {{>navbar}}
    <section id="services-container">
        <h1 class="primary center">Our Services</h1>
        <div id="services">
            <div class="box">
                <img src="images/chef.png" alt="Food Ordering">
                <h2 class="secondary center">Choose Your Chef</h2>
                <p class="center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis nemo sit ratione
                    officia ad eius deserunt. Neque illum accusantium eius optio, nobis ratione molestias sapiente vitae
                    odio beatae,fugiat laboriosam, earum minima nulla. Sint.</p>
            </div>
            <div class="box">
                <img src="images/catering.jpg" alt="Food Catering">
                <h2 class="secondary center">Food Catering</h2>
                <p class="center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis nemo sit ratione
                    officia ad eius deserunt. Neque illum accusantium eius optio, nobis ratione molestias sapiente vitae
                    odio beatae,fugiat laboriosam, earum minima nulla. Sint.</p>
            </div>
            <div class="box">
                <img src="images/delivery.png" alt="Food Delivery">
                <h2 class="secondary center">Food Delivery</h2>
                <p class="center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis nemo sit ratione
                    officia ad eius deserunt. Neque illum accusantium eius optio, nobis ratione molestias sapiente vitae
                    odio beatae,fugiat laboriosam, earum minima nulla. Sint.</p>
            </div>
        </div>
    </section>
    {{>footer}}
</body>
</html>