<footer>
        <div class="center">
            Copyright &copy;www.myonlinemeals.com All rights reserved.
            <span id="date">Date</span>
        </div>
</footer>
<script src="script2.js"></script>
