<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="This is a website where you can register as user and login to access all the contents. You can orders food items, choose among different chefs to book for any grand party. You can also register as a chef.">
<title>myonlinemeals.com</title>
<link rel="stylesheet" href="styles2.css">
<link rel="stylesheet" media="screen and (max-width: 1170px)" href="phone.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap" rel="stylesheet">