<nav id="navbar">
        <ul>
            <div id="logo">
                <a href="/">
                <img src="images/logo.png" alt="my logo">
                myOnlineMeal
                </a>
            </div>
            <li class="item"><a href="/services">Services</a></li>
            <li class="item"><a href="/contact">Contact us</a></li>
            <li class="item">
                <a>Register</a>
                <div class="dropdown-content">
                <a href="/registeruser">RegisterUser</a>
                <a href="/registerchef">RegisterChef</a>
                </div>
            </li>
            <li class="item"><a href="/login">{{Login}}</a></li>
            <li id="time">Time</li>
        </ul>
</nav>