<nav id="navbar">
        <ul>
            <div id="logo">
                <a href="/">
                <img src="images/logo.png" alt="my logo">
                myOnlineMeal
                </a>
            </div>
            {{!-- <li class="item"><a href="/">Home</a></li> --}}
            <li class="item"><a href="/services">Services</a></li>
            <li class="item"><a href="/contact">Contact us</a></li>
            <li class="item">
                <a>Function</a>
                <div class="dropdown-content">
                <a href="/registeruser">RegisterUser</a>
                <a href="/registerchef">RegisterChef</a>
                <a href="/login">Login</a>
                </div>
            </li>
        </ul>
        <h4 id="date">Date</h4>
</nav>